[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/lfmartins/introduction-to-computational-mathematics/blob/main/04-strings-and-printing.ipynb)

# Introduction

Any useful computer code must produce some kind of output. The most basic form of output is *text based*, that is, a sequence of characteres that can be displayed on the screen or printed. A sequence of characters is called a *string*. In this lesson we explore the use of strings to display the result of computations.

# Strings

A *string* is a sequence of characters. To define a string we enclose the sequence of characters in either double quotes or single quotes:

In [2]:
string1 = "This is a string!"
print(string1)
string2 = 'This too!'
print(string2)

This is a string!
This too!

In Python, there is *absolutely no difference between single quoted or double quoted strings*.  Other languages make a distinction between `"..."` and `'...'` but Python doesn't. 

We can use this feature if we need to insert the symbols `"` or `'` in a string. For example, to define the string `Don't do this!`, we can use the following syntax:

In [3]:
warning= "Don't do this!"
print(warning)

Don't do this!

Notice that using single quotes, as in `'Dont't do this!'` yields a syntax error (try it!). Likewise, we can insert double quotes in single-quoted string:

In [4]:
message = 'It is said that 42 is the answer to "life, the universe and everything"'
print(message)

It is said that 42 is the answer to "life, the universe and everything"

Strings spanning multiple lines are specified using triple quotes, `"""   """` or `'''   '''`:

In [5]:
poem = """Tyger Tyger, burning bright, 
In the forests of the night; 
What immortal hand or eye, 
Could frame thy fearful symmetry?"""
print(poem)

Tyger Tyger, burning bright,
In the forests of the night;
What immortal hand or eye,
Could frame thy fearful symmetry?

Python provides a powerful set of operations for string manipulations. One of the most useful is *string concatenation*, which is represented by the plus operator `+`. As an example, we can write:

In [6]:
greeting = "Hello "
name1 = "Alex"
name2 = "Felipe"
print(greeting + name1)
print(greeting + name2)

Hello Alex
Hello Felipe

To get the length of a string, use the function `len()`:

In [7]:
message = "What is life, the universe and everything?"
len(message)

42

Python has an extensive collection of string methods, documented in [this link](https://docs.python.org/3/library/stdtypes.html#string-methods). The following cell has some examples:

In [8]:
str1 = "The quick brown fox jumped over the lazy dog."
print(str1)
str2 = str1.upper()  # Convert to uppercase
print(str2)
index = str1.find("jumped") # Find position of a substring
print(index)
str3 = str1.replace("jumped over", "laughed at") # Substring replacement
print(str3)

The quick brown fox jumped over the lazy dog.
THE QUICK BROWN FOX JUMPED OVER THE LAZY DOG.
20
The quick brown fox laughed at the lazy dog.

One very important feature of Python is that *every object in Python has a string representation*. To convert a variable to a string, use the function `str()`, as shown in the next code cell

In [10]:
a = 42
b = 3.14
str(a), str(b)

('42', '3.14')

Now, let's consider a less trivial example. In the example below we create a set of integers and then convert it to a string:

In [12]:
set_of_integers = {1, 2, 3}
str(set_of_integers)

'{1, 2, 3}'

One might think that strings are an outdated representation of data, given that computer code today can work with rich media such as images, video and sound. Nothing could be further from the truth. Web pages for example, are just strings in the markup language HTML. Even Jupyter notebooks are represented by strings. For example, the initial characteres of the string that represents this notebook are:

    {
     "cells": [
      {
       "cell_type": "markdown",
       "id": "9c620ffa-4b46-4863-816c-b264fb702dd9",
       "metadata": {},
       "source": [
       ...     
Jupyter notebooks are stored in a data exchange format called JSON, which is one of the most widely used formats in the web. A JSON file is a text file, and could, for example, be read into a string in an application.

In the next section we will see that the combination of strings with the `print()` function provide a powerful tool for presenting the result of computations.

# The `print()` function and formatting.

We have already seen how to use the `print()` function to display values of variables. Here is one more example:

In [14]:
answer = 42
pi = 3.14
message = "Python is awsome"
print(answer, pi, message)

42 3.14 Python is awsome

There is quite a lot happening in the background when we call the `print()` function:

- First, each argument to `print()` is converted to a string (using the `str()` function discussed above).
- Then, the strings are concatenated, with a blank space inserted between strings.
- Finally, the concatenated string is displayed under the computation cell.

Let's now suppose that, instead of just printing the variable values, we would like to display more informative text. The following cell illustrates how this can be done:

In [15]:
answer = 42
print(f"The answer to life, the universe and everything is {answer}")

The answer to live, the universe and everything is 42

Make sure you understand well what is happening here. The string:

    f"The answer to life, the universe and everything is {answer}"
    
is called a *format string*, indicated by the fact that the string definition starts with the letter `f`:

    f" ... " or f' ... '   
    
In the format string, the expression in curly brackets `{answer}` is replaced by the value of the variable `answer`, resulting in:

    "The answer to life, the universe and everything is 42"
    
which is then printed.

In a format string, expressions between curly brackets `{ ... }` are evaluated, converted to a string, and then *interpolated* into the original string in the appropriate place. 

There can more than one interpolated expression in a single formatting string, as shown below:

In [21]:
import numpy as np
print(f"The most important mathematical constants are pi={np.pi} and e={np.e}")

The most important mathematical constants are pi=3.141592653589793 and e=2.718281828459045

Formatting strings support any kind of expression. The following code shows one example:

In [22]:
a = 2.55
b = 3.34
print(f"The input values are {a} and {b}")
print(f"The arithmetic mean is {(a + b) / 2}")
print(f"The geometric mean is {np.sqrt(a * b)}")

The input values are 2.55 and 3.34
The arithmetic mean is 2.945
The geometric mean is 2.9183899670880176

Formatting strings can be multiline strings, so the previous example could be written as:

In [23]:
a = 2.55
b = 3.34
print(f"""The input values are {a} and {b}
The arithmetic mean is {(a + b) / 2}
The geometric mean is {np.sqrt(a * b)}""")

The input values are 2.55 and 3.34
The arithmetic mean is 2.945
The geometric mean is 2.9183899670880176

Interpolated expressions can be more precisely formatted, as in the examples below:

In [24]:
a = 1234
b = 12.3456789
print(f"The value of a is |{a:7d}|")   # Print a as a decimal value, in a field of length 7
print(f"The value of a is |{a:07d}|")  # Left padding with 0s
print(f"The value of a is |{a:<7d}|")  # Align left
print(f"The value of b is |{b:8.3f}|") # Print b as a float, in a field of length 8, with 3 decimal places
print(f"The value of b is |{b:8.2e}|") # Scientific notation

The value of a is |   1234|
The value of a is |0001234|
The value of a is |1234   |
The value of b is |  12.346|
The value of b is |1.23e+01|

To specify a format, the following syntax is used:

    {variable_name:format_specifications}
    
There is a lot of flexibility in format specifications, which are described in detail [here](https://docs.python.org/3/reference/lexical_analysis.html#f-strings).

If we append `=` at the end of a formatting string, then the variable name is also inserted in the interpolated string. This feature is very useful in debugging code:

In [27]:
a, b = 5, 16
print(f"A this point in the code, we have {a=} , {b=} and {a+b=}")

A this point in the code, we have a=5 , b=16 and a+b=21

Finally, to enter curly braces in a format string, use `{{` and `}}`:

In [30]:
a, b, c = 2, 3, 4
print(f"Sets are surrounded by braces: {{ {a}, {b}, {c} }}")

Sets are surrounded by curly braces: { 2, 3, 4 }

Notice that `{{` and `}}` are translated into a single curly bracket.

# Escape sequences

Escape sequences are used to insert special characters in strings. The following example shows how to insert a new line in a string:

In [32]:
two_lines = "This is a string\nwith has two lines"
print(two_lines)

This is a string
with has two lines

The `\n` in the string definition represents a *newline character*. This is an "invisible character" that causes a line break when printing. This is called *escaping*. Specifically, in this case, the character `n` was "escaped" with `\n`, and acquires a special meaning (namely, a newline).

Two other escape sequences that are sometimes useful are `\"` and `\'`, which can be used to insert quotes in strings:

In [33]:
str1 = "A double quoted string with \"double quotes\" inside it"
str2 = 'A single quoted string with \'single quotes\' inside it'
print(str1)
print(str2)

A double quoted string with "double quotes" inside it
A single quoted string with 'single quotes' inside it

Notice that if if you don't escape the quotes and write something like:
    
    str1 = "A double quoted string with "double quotes" inside it"
    
you will get a syntax error.

All this brings up an interesting question: how does one insert a backslash in a Python string? This is done by the escape sequence `\\`, as shown in the code below:

In [34]:
msg = "The newline character is represented by the escape sequence \\n"
print(msg)

The newline character is represented by the escape sequence \n

In this example the `\\` represents a single backslash `\`.

Another use of escaped sequences is printing unicode characteres that are not available in the keyboard:

In [35]:
msg = "\U0001F40D makes me \U0001F600"
print(msg)

ðŸ makes me ðŸ˜€

This, of course, is read "Python makes me smile".


Fun fact: you can use unicode characters directly in Python, if you keyboard supports it:

In [36]:
msg = "ðŸ makes me ðŸ˜€"
print(msg)

ðŸ makes me ðŸ˜€

Notice that the above is not recommended. Not all text editors support unicode (alghough most modern editors do), so there is no guarantee that the example above will display correctly. The code:

    msg = "\U0001F40D makes me \U0001F600"
    
may be less clear but is guaranteed to be readable in any text editor.

Finally, there are situations in which we want to ignore escape sequences. As an example, the graphics package `matplotlib` allows formulas written in LaTeX to be used as graph components such as titles and labels. For example, let's say we want typeset the formula $f(x)=\nabla\tan(x)$, which is produced by the LaTeX code `$f(x)=\nabla\tan(x)$`. 

For these situations, Python has the concept of *raw string*, which uses the notation `r" ... "` or `r' ... '`. For example:

In [44]:
label = r"$f(x)=\nabla\tan(x)$"
print(label)

$f(x)=\nabla\tan(x)$

Notice that the backslashes are not interpreted in any special way. You can run the cell above omitting the `r` in the string definition to see what happens.

# Exercises

**1.** Suppose we want to print the following:

    Eating an apple a day
    May not keep the doctor away
    But is good for you anyway
    
Show how to do it in three different ways:

- Using multiple `print()` calls.
- Using a multiline string.
- Using escape characters.

**2.** Execute the following in a code cell:

    talk = 3 * "yadda "
    print(talk)
    
Using this as an example, write code that prints a string with the character `#` repeated 50 times.

**3.** Strings can also be arguments and/or return values in functions. Write a function with the following signature:

    nosy_neighbor(name, visitors)
    
For example, the function call:

    nosy_neighbor('Felipe', 36)
    
should return the string:

    Good morning Felipe! I noticed you had 36 visitors last night!

In [ ]:
**4**