[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/lfmartins/introduction-to-computational-mathematics/blob/main/04-strings-and-printing.ipynb)

# Introduction

Any useful computer code must produce some kind of output. The most basic form of output is *text based*, that is, a sequence of characteres that can be displayed on the screen or printed. A sequence of characters is called a *string*. In this lesson we explore the use of strings to display the result of computations.

# Strings

A *string* is a sequence of characters. To define a string we enclose the sequence of characters in either double quotes or single quotes:

In [2]:
string1 = "This is a string!"
print(string1)
string2 = 'This too!'
print(string2)

This is a string!
This too!

In Python, there is *absolutely no difference between using single quotes or double quotes* when defining a string. Many other languages make a distinction between `"..."` and `'...'` but Python doesn't. In fact, this is one of the ways of inserting quotes (double or single) in a string. For example, to define the string `Don't do this!`, we use syntax like:

In [7]:
warning= "Don't do this!"
print(warning)

Don't do this!

Likewise, we can insert double quotes in single-quoted string:

In [9]:
message = 'It is said that 42 is the answer to "life, the universe and everything"'
print(message)

It is said that 42 is the answer to "life, the universe and everything"

Strings spanning multiple lines are specified using triple quotes, `"""   """` or `'''   '''`:

In [36]:
poem = """Tyger Tyger, burning bright, 
In the forests of the night; 
What immortal hand or eye, 
Could frame thy fearful symmetry?"""
print(poem)

Tyger Tyger, burning bright,
In the forests of the night;
What immortal hand or eye,
Could frame thy fearful symmetry?

Python provides a powerful set of operations for string manipulations. One of the most useful is *string concatenation*, which is represented by the plus operator `+`. As an example, we can write:

In [11]:
greeting = "Hello "
name1 = "Alex"
name2 = "Felipe"
print(greeting + name1)
print(greeting + name2)

Hello Alex
Hello Felipe

To get the length of a string, use the function `len()`:

In [17]:
message = "What is life, the universe and everything?"
len(message)

42

Python has an extensive collection of string methods, documented in [this link](https://docs.python.org/3/library/stdtypes.html#string-methods). The following cell has some examples:

In [24]:
str1 = "The quick brown fox jumped over the lazy dog."
print(str1)
str2 = str1.upper()  # Convert to uppercase
print(str2)
index = str1.find("jumped") # Find position of a substring
print(index)
str3 = str1.replace("jumped over", "laughed at") # Substring replacement
print(str3)

The quick brown fox jumped over the lazy dog.
THE QUICK BROWN FOX JUMPED OVER THE LAZY DOG.
20
The quick brown fox laughed at the lazy dog.

One very important feature of Python is that *every object in Python can be represented by a string*. To convert a variable to a string, use the function `str()`, as shown in the next code cell

In [26]:
a = 42
b = 3.14
c = "Hello world"
str(a), str(b), str(c)

('42', '3.14', 'Hello world')

Now, let's consider a less trivial example. In the example below we create a set of integers and then convert it to a string:

In [41]:
set_of_integers = {1, 2, 3}
str(s)

'{1, 2, 3}'

One might think that strings are an outdated form of representing data, given that computer code today can work with rich media such as images, video and sound. Nothing could be further from the truth. Web pages for example, are just strings in the markup language HTML. Even Jupyter notebooks are strings. For example, the initial characteres of the string that represents this notebook are:

    {
     "cells": [
      {
       "cell_type": "markdown",
       "id": "9c620ffa-4b46-4863-816c-b264fb702dd9",
       "metadata": {},
       "source": [
       ...

In the next section we will see that the combination of strings with the `print()` function provide a powerful tool for presenting the result of computations.

# The `print()` function and formatting.

We have already seen how to use the `print()` function to display values of variables. Here is one more example:

In [25]:
answer = 42
pi = 3.14
message = "Python is awsome"
print(answer, pi, message)

42 3.14 Hello, world!

There is quite a lot happening in the background when we call the `print()` function:

- First, each argument to `print()` is converted to a string (using the `str()` function, actually).
- Then, the strings are concatenated, with a blank space inserted between strings.
- Finally, the concatenated string is displayed under the computation cell.

Let's now suppose that, instead of just printing the variable values, we would like to display more informative text. The following cell illustrates how this can be done:

In [45]:
answer = 42
print(f"The answer to live, the universe and everything is {answer}")

The answer to live, the universe and everything is 42

Make sure you understand well what is happening here. The string:

    f"The answer to live, the universe and everything is {answer}"
    
is called an *f-string* (which is an abbreviation for *formatted string literal*). F-strings start with the letter `f`:

    f" ... " or f' ... '
    
In this formatted string, the expression in curly brackets `{answer}` is replaced by the value of the variable `answer`, resulting in:

    "The answer to live, the universe and everything is 42"
    
which is then printed.

In an f-string, expressions between curly brackets `{ ... }` are evaluated, then converted to a string, and finally *interpolated* in the string. There can more than one interpolated expression in an f-string, as shown below:

In [46]:
import numpy as np
print(f"The most important mathematical constants are pi={np.pi} and e={np.e}")

The most important mathematical constants are pi=3.141592653589793 and e=2.718281828459045

F-strings support any kind of expression. The following code shows one example:

In [47]:
a = 2.55
b = 3.34
print(f"The input values are {a} and {b}")
print(f"The arithmetic mean is {(a + b) / 2}")
print(f"The geometric mean is {np.sqrt(a * b)}")

The input values are 2.55 and 3.34
The arithmetic mean is 2.945
The geometric mean is 2.9183899670880176

F-strings can be multiline strings, so the previous example could be written as:

In [48]:
a = 2.55
b = 3.34
print(f"""The input values are {a} and {b}
The arithmetic mean is {(a + b) / 2}
The geometric mean is {np.sqrt(a * b)}""")

The input values are 2.55 and 3.34
The arithmetic mean is 2.945
The geometric mean is 2.9183899670880176

Interpolated expressions can be more precisely formatted, as in the examples below:

In [101]:
a = 1234
b = 12.3456789
print(f"The value of a is |{a:7d}|")   # Print a as a decimal value, in a field of length 7
print(f"The value of a is |{a:07d}|")  # Left padding with 0s
print(f"The value of a is |{a:<7d}|")  # Align left
print(f"The value of b is |{b:8.3f}|") # Print b as a float, in a field of length 8, with 3 decimal places
print(f"The value of b is |{b:8.2e}|") # Scientific notation

The value of a is |   1234|
The value of a is |0001234|
The value of a is |1234   |
The value of b is |  12.346|
The value of b is |1.23e+01|

# Escape sequences

Let's start with the following example:

In [49]:
two_lines = "This is a string\nthat has two lines"
print(two_lines)

This is a string
that has two lines

What is going on here? The `\n` that appears in the string definition represents a *newline character*. This is an "invisible character" that causes a line break when printing. This is called *escaping*. Specifically, in this case, the character `n` was "escaped" with `\n`, and acquires a special meaning (namely, a newline).

Two other escape sequences that are sometimes useful are `\"` and `\'`, which can be used to insert quotes in strings:

In [50]:
str1 = "A double quoted string with \"double quotes\" inside it"
str2 = 'A single quoted string with \'single quotes\' inside it'
print(str1)
print(str2)

A double quoted string with "double quotes" inside it
A single quoted string with 'single quotes' inside it

Notice that if if you don't escape the quotes and write something like:
    
    str1 = "A double quoted string with "double quotes" inside it"
    
you will get a syntax error.

All this brings up an interesting question: how does one insert a backslash in a Python string? This is done by the escape sequence `\\`, as shown in the code below:

In [51]:
msg = "The newline character is represented by the escape sequence \\n"
print(msg)

The newline character is represented by the escaped sequence \n

In this example the `\\` represents a single backslash `\`.

Another use of escaped sequences is printing unicode characteres:

In [71]:
msg = "\U0001F40D makes me \U0001F600"
print(msg)

🐍 makes me 😀

This, of course, is read "Python makes me smile".


Fun fact: you can use unicode characters directly in Python, if you keyboard supports it:

In [72]:
msg = "🐍 makes me 😀"
print(msg)

🐍 makes me 😀